ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color:grey;
  position: fixed;
  top: 0;
}
li{
	background-color:#a142f5;
	list-style-type: none;
}
li{
	float: left;
}
li a{
	display: block;
	padding: 18px 25px 17px 28px;
	text-decoration:none;
	
}
li a:hover{
background-color: blue;
color: white;
}
.home{
	padding: 70px 19px 12px 20px;
margin:  70px 19px 12px 20px;
color: yellow;
}
.paragraph1{
	color: grey;
    margin-left: 306px;
}
.paragraph2{
	color: red;
}
.img1{
	padding: 42px 46px 20px 32px;
    margin: 27px 18px 11px 15px;
}
.img2{
	padding: 10px 12px 10px 22px;
    margin: 32px 20px 20px 21px;
}
.img3{
	padding: 10px 12px 10px 22px;
    margin: 32px 20px 20px 21px;
}

.contact{
	padding: 70px 19px 12px 20px;
}
.name{
padding-right:30px; 
padding-left: 376px;
    margin-right:18px;
}
.mail{
padding-left: 353px;
    margin-right: 48px;
    margin-left: 23px;
}
.num{
    padding-left: 353px;
    margin-right: 15px;
    margin-left: 23px;
}
.manage{
	padding-left: 353px;
    margin-right: 37px;
    margin-left: 23px;
}
.button{
	
    margin-left: 506px;
}
.about{
	color:rgb(00 255 255);
	margin: 70px 19px 400px 20px;
}
#abt{
	color:purple;
}

.contact{
	margin: 70px 19px 400px 20px;
	color: #f5425d;
}
.paragraph3{
	color: orange;
}