.grid-container{
	display: grid;
	grid-template-areas:'myarea myarea . .  ';
	grid-gap: 10px;
  	background-color: #2196F3;
  	padding: 10px;

}
.grid1{
	grid-area: myarea;
	 padding: 20px;
	 background-color: #ffffff;
}
.grid2{
	 background-color: #000000;
	 color: #ffffff;
	  padding: 20px;
}
/*.grid2{
	grid-area: 2/4/5/6;
	 background-color: #000000;
	 color: #ffffff;
}*/