.flex1-container{
	display: inline-flex;
	height: 800px;
	width: 500px;
	flex-direction: column;

}
.item1{
background-color: olive;	
flex-grow: 0;

  
}
.item2{
	background-color: #067b67;
	flex-grow: 1;

}
.item3{
background-color: yellow;	
flex-grow: 2;
  
}
.item4{
background-color: red;	
flex-grow: 3;

  
}
.item5{
background-color: blue;	
flex-grow: 4;
fl
} 

.item6{
background-color: red;	
flex-grow: 5;
}

