.flex1-container{
	display: flex;
	justify-content: space-around;
	width: 400px;
}
.item1{
	background-color: orange;
	width: 30px;
	padding: 20px;
}
.flex2-container{
	display: flex;
	justify-content:flex-start;
	
}
.item2{
	background-color: yellow;
	width: 30px;
	padding: 20px;
	margin: 150px;
}
